<div class="form-group">
	<button class="btn btn-default btn-control btn-time" value="0" id="nowDay">今天</button>
	<button class="btn btn-default btn-control btn-time" value="-1" id="yesterday">昨天</button>
	<button class="btn btn-default btn-control btn-time" value="-6" id="a_week">近7天</button>
	<button class="btn btn-default btn-control btn-time" value="-14" id="half_month">近15天</button>
	<button class="btn btn-default btn-control btn-time" value="-29" id="one_month">近30天</button>
	<button class="btn btn-default btn-control btn-time" value="-59" id="two_month">近60天</button>
	<button class="btn btn-default btn-control btn-time" value="-89" id="three_month">近90天</button>
</div>