{% extends 'web_p/views/base4.html' %}
{% block head %}
<title>付费点分布</title>
{% end %}
{% block style %}
<style type="text/css">
	#is_show {
		display: none;
	}
	#is_show #echartsPie,#echartsPie2{
		width: 700px;
		height:400px;
		float: left;
		border:1px solid #DDD;
		margin:5px 0px;
	}
	#is_show #echartsPie2{
		margin-left: 5px;
	}
</style>
{% end %}
{% block choice_days %}
{% include 'web_p/views/choice_day.html' %}
{% end %}
{% block search %}
<button class="btn btn-primary hy-magin-10" type="button" id="screen" style="width: 80px"></i>区服筛选</button>
<button class="btn btn-primary hy-magin-10" type="button" id="screen2" style="width: 80px"></i>渠道筛选</button>
{% end %}
{% block download %}
{% include 'web_p/views/download.html' %}
{% end %}
{% block modal %}
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div id="treeview-checkable"></div>
			<button type="button" class="btn btn-default" id="confirm" style="margin-left: 20px;margin-bottom: 10px">
				确定
			</button>
		</div>
	</div>
</div>
<div class="modal fade" id="removeModal2" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" style="height: 900px">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div id="treeview-checkable2"></div>
			<button type="button" class="btn btn-default" id="confirm2" style="margin-left: 20px;margin-bottom: 10px">
				确定
			</button>
		</div>
	</div>
</div>
{% end %}
{% block chart_draw %}
<div class="form-inline" role="form">
	<div class="form-group" id="is_show" >
		<div id="echartsPie"></div> 
		<div id="echartsPie2"></div> 
	</div>
</div>
{% end %}
{% block script %}
<script src="{{ static_url('bootstrap/js/echarts.min.js')}}"></script> 
<script>
	var mg = new mg();
	mg.RunPage("PagePaySearch","");
	$(function () { 
		$("[data-toggle='popover']").popover({html : true });
	});
</script>
{% end %}